@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background .ani{
    display: flex;
    z-index: 10;
    top: 200px;
    right: 500px;

}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #FC606D;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txt{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txt .list{
    color:#01BAEF;
    list-style: none;
    font-size: 60px;
    font-weight: 500; 
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -370px;
    }
}

.dynamic-txt .list .ttxt{
    position: relative;
}
.dynamic-txt .list .ttxt:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation:2.8s steps(10) infinite smooth;
}
/*@keyframes typing{
    100%{
        left: 100%;
        margin: 0px -35px 0px 35px;
    }
}*/
@media (max-width: 1300px) {
    .wrapper {
       
        flex-direction: column;


    }
    .content-respo{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:900px){
    .background{
        height:95vh;
    }
    .dynamic-txt .list{
        font-size: 2em;
    }
    .wrapper .static-txt{
        font-size: 2em;
    }
}
