{% extends 'layout.html' %}
{% load static %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{% static './static/book.css' %}">
    </head>
    <div id="container">
            <!--This is a division tag for body container-->
            <div id="body_header">
                <!--This is a division tag for body header-->
                <h1>Appointment Request Form</h1>
                <p>Make your appointments more easier</p>
                {{n}}
    
            </div>
            <form action="{% url 'main:appointment_form' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><span class="number">1</span>Your basic details</legend>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="user_name" placeholder="your name" required>
    
                    <label for="mail">Email:</label>
                    <input type="email" id="mail" name="user_email" placeholder="abc@xyz.com" required>
    
    
                </fieldset>
    
                <fieldset>
                    <legend><span class="number">2</span>Appointment Details</legend>
                    <label for="appointment_for">Appointment for:</label>
                    <select id="appointment_for" name="appointment_for" required>
                        {% for n in display %}
                            <option value="{{ n.card_name }}">{{ n.card_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="appointment_description">Appointment Description:</label>
                    <label for="date">Date:</label>
                    <input type="date" name="date" value="" required></input>
                    <br>
                    <label for="time">Time:</label>
                    <input type="time" name="time" value="" required></input>
                    <br>
                </fieldset>
                <button type="submit">Request For Appointment</button>
            </form>
        </div>
{% endblock %}