{% extends 'layout.html' %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static './static/inside.css'%}">
</head>
    {% for n in display %}
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>{{ n.card_name }}</h1>
                </div>
                <div class="content">
                    <h3>{{ n.card_heading }}</h3>
                    <p>{{ n.card_description }}</p>
                    <div class="button">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'main:book' %}">Book Appointment</a>

                        {% else %}
                            <a href="{% url 'main:register' %}">Book Appointment</a>
                        {% endif %}
                    </div>

                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/qurable.in/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="{{ n.card_image.url }}" alt="">
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}